/**
 * 公共样式
 */

.personal-info-wrapper,
.footer-wrapper.footer,
.color-picker {
  display none !important
}

/* 首页 */
.hero {
  img {
    max-height: 18rem !important
    margin-top: 4rem !important
  }
}